section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 50%;
    width: auto;
    border-radius: 5px;
}

span {
    height: fit-content;
    height: 50%;
    padding: 3px;
    
}